<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <title> StroykaStore </title>
    {% block css %} {% endblock %}
</head>
<body>

    <!-- Header start -->
    {% include 'header.html' %}
    <!-- Header end -->

    <!-- Main start -->
    {% block content %} {% endblock %}
    <!-- Main end -->

    <!-- Footer start -->
    {% include 'footer.html' %}
    <!-- Footer end -->

    <!-- Modal window start -->
    {% include 'modal_windows.html' %}
    <!-- Modal window end -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block js %} {% endblock %}
</body>
</html>