{% load static %}
<!-- Footer start -->

    <footer class="footer">
        <div class="wrapper footer__wrapper">
            <div class="footer__main">
                <div class="footer__block_info">
                    <a href="/" class="footer__logo-link">
                        <img src="{% static 'img/svg/footer-logo.svg' %}" alt="logo" class="footer__logo">
                    </a>
                    <div class="footer__mail">
                        <img src="{% static 'img/svg/mail-icon.svg' %}" alt="mail" class="footer__mail-icon">
                        <h3 class="footer__mail-text footer-text">info@stroykastore.ru</h3>
                    </div>
                    <div class="footer__location">
                        <img src="{% static 'img/svg/location-icon.svg' %}" alt="location" class="footer__location-icon">
                        <h3 class="footer__location-text footer-text">Москва, ул. Камушкина 10</h3>
                    </div>
                </div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <button class="footer__btn">
                            <img src="{% static 'img/svg/arrow-footer.svg' %}" alt="arrow" class="footer__arrow">
                            <a href="/account/" class="footer-text footer__link">Личный кабинет</a>
                        </button>
                    </li>
                    <li class="footer__item">
                        <button class="footer__btn">
                            <img src="{% static 'img/svg/arrow-footer.svg' %}" alt="arrow" class="footer__arrow">
                            <a href="/orders/" class="footer-text footer__link">Заказы</a>
                        </button>
                    </li>
                    <li class="footer__item">
                        <button class="footer__btn">
                            <img src="{% static 'img/svg/arrow-footer.svg' %}" alt="arrow" class="footer__arrow">
                            <a href="/" class="footer-text footer__link">Главная</a>
                        </button>
                    </li>
                    <li class="footer__item">
                        <button class="footer__btn">
                            <img src="{% static 'img/svg/arrow-footer.svg' %}" alt="arrow" class="footer__arrow">
                            <a href="/basket/" class="footer-text footer__link">Корзина</a>
                        </button>
                    </li>
                    <li class="footer__item">
                        <button class="footer__btn">
                            <img src="{% static 'img/svg/arrow-footer.svg' %}" alt="arrow" class="footer__arrow">
                            <a href="/catalog/" class="footer-text footer__link">Каталог</a>
                        </button>
                    </li>
                    <li class="footer__item">
                        <button class="footer__btn">
                            <img src="{% static 'img/svg/arrow-footer.svg' %}" alt="arrow" class="footer__arrow">
                            <a href="/" class="footer-text footer__link">Акции</a>
                        </button>
                    </li>
                    <li class="footer__item">
                        <button class="footer__btn">
                            <img src="{% static 'img/svg/arrow-footer.svg' %}" alt="arrow" class="footer__arrow">
                            <a href="/brands/" class="footer-text footer__link">Бренды</a>
                        </button>
                    </li>
                    <li class="footer__item">
                        <button class="footer__btn">
                            <img src="{% static 'img/svg/arrow-footer.svg' %}" alt="arrow" class="footer__arrow">
                                <a href="/contacts/" class="footer-text footer__link">Контакты</a>
                        </button>
                    </li>
                    <li class="footer__item">
                        <button class="footer__btn footer__btn-seller">
                            <img src="{% static 'img/svg/arrow-footer.svg' %}" alt="arrow" class="footer__arrow">
                            <a href="#modal_seller" class="footer-text footer__link">Стать продавцом</a>
                        </button>
                    </li>
                    <li class="footer__item">
                        <button class="footer__btn">
                            <img src="{% static 'img/svg/arrow-footer.svg' %}" alt="arrow" class="footer__arrow">
                            <a href="/delivery/" class="footer-text footer__link">Доставка</a>
                        </button>
                    </li>
                    <li class="footer__item">
                        <button class="footer__btn">
                            <img src="{% static 'img/svg/arrow-footer.svg' %}" alt="arrow" class="footer__arrow">
                            <a href="/return/" class="footer-text footer__link">Возврат</a>
                        </button>
                    </li>
                    <li class="footer__item">
                        <button class="footer__btn">
                            <img src="{% static 'img/svg/arrow-footer.svg' %}" alt="arrow" class="footer__arrow">
                            <a href="/documentation/" class="footer-text footer__link">Документация</a>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="footer__info">
                <p class="footer-text footer__info-text">© СтройкаСтор</p>
                <div class="footer__cards">
                    <img src="{% static 'img/svg/visa-icon.svg' %}" alt="visa" class="footer__cards-item">
                    <img src="{% static 'img/svg/mastercard-icon.svg' %}" alt="mastercard" class="footer__cards-item">
                    <img src="{% static 'img/svg/maestro-icon.svg' %}" alt="maestro" class="footer__cards-item">
                    <img src="{% static 'img/svg/mir-icon.svg' %}" alt="mir" class="footer__cards-item">
                </div>
                <p class="footer-text footer__info-text_made">Cделано в KRUGLOV STUDIO</p>
            </div>
        </div>
    </footer>
    <!-- Footer end -->