{% load static %}
<!-- Header start -->
    <header class="header">
        <div class="header__wrapper">
            <div class="header__background-grey">
                <div class="header__main_info wrapper">
                    <div class="header__location_info">
                        <img src="{% static 'img/svg/map-icon.svg' %}" alt="map-icon" class="header__location_icon">
                        <button class="header__location_button">
                            <span onclick="openModal()" class="header__city" id="city-name">Москва</span>
                        </button>
                    </div>
                    <nav class="header__nav">
                        <ul class="header__list">
                            <li class="header__item">
                                <a href="/brands/" class="header__link">Бренды</a>
                            </li>
                            <li class="header__item">
                                <a href="/delivery/" class="header__link">Доставка</a>
                            </li>
                            <li class="header__item">
                                <a href="#!" class="header__link">Возврат</a>
                            </li>
                            <li class="header__item">
                                <a href="#!" class="header__link">Документация</a>
                            </li>
                            <li class="header__item">
                                <a href="#!" class="header__link">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="wrapper main__tools">
                <div class="header__logo">
                    <a href="#!" class="header__link_logo">
                        <img src="{% static 'img/svg/header-logo.svg' %}" alt="logo">
                    </a>
                </div>
                <div class="header__catalog">
                    <a href="#!" class="header__catalog-link">
                        <img src="{% static 'img/svg/icon-catalog.svg' %}" alt="catalog" class="header__catalog-logo">
                        <span class="header__catalog-text">Каталог</span>
                    </a>
                </div>
                <div class="header__search">
                    <form action="/search" method="get" class="header__search">
                        <input type="text" class="header__search-input" name="search" placeholder="Поиск">
                        <button type="submit" class="header__search-button" aria-label="Search">
                            <img src="{% static 'img/svg/search-icon.svg' %}" alt="Search" style="width: 20px; height: 20px;">
                        </button>
                    </form>
                </div>
                <div class="header__cards">
                    <a href="#!" class="header__card">
                        <div class="header__card-pic">
                            <img src="{% static 'img/svg/header-icon-1.svg' %}" alt="Профиль" class="header__card-thumbnail">
                        </div>
                        <h3 class="header__card__title">Профиль</h3>
                    </a>
                    <a href="#!" class="header__card">
                        <div class="header__card-pic">
                            <img src="{% static 'img/svg/header-icon-2.svg' %}" alt="Заказы" class="header__card-thumbnail">
                        </div>
                        <h3 class="header__card__title">Заказы</h3>
                    </a>
                    <a href="#!" class="header__card">
                        <div class="header__card-pic">
                            <img src="{% static 'img/svg/header-icon-3.svg' %}" alt="Корзина" class="header__card-thumbnail">
                        </div>
                        <h3 class="header__card__title">Корзина</h3>
                    </a>
                </div>
            </div>
            <div class="header__categories">
                <ul class="header__categories-list">
                    <li class="header__categories-item">
                        <a href="#!" class="header_category-link">Акции</a>
                    </li>
                    <li class="header__categories-item">
                        <a href="#!" class="header_category-link">Строительные материалы</a>
                    </li>
                    <li class="header__categories-item">
                        <a href="#!" class="header_category-link">Керамическая плитка</a>
                    </li>
                    <li class="header__categories-item">
                        <a href="#!" class="header_category-link">Краски</a>
                    </li>
                    <li class="header__categories-item">
                        <a href="" class="header_category-link">Сантехника</a>
                    </li>
                    <li class="header__categories-item">
                        <a href="#!" class="header_category-link">Напольные покрытия</a>
                    </li>
                    <li class="header__categories-item">
                        <a href="#!" class="header_category-link">Инструменты</a>
                    </li>
                    <li class="header__categories-item">
                        <a href="#!" class="header_category-link">Обои</a>
                    </li>
                    <li class="header__categories-item">
                        <a href="#!" class="header_category-link">Окна</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Header end -->