{% load static %}

<!-- Modal window city start -->

<div class="modal__window_city" id="modal__window_city">
    <div class="modal__window_city-content">
        <h3 class="modal__window_city-title">Выберите ваш город</h3>
        <div class="modal__window_city-search">
            <input type="text" class="modal__window_city-input" placeholder="Поиск">
            <img src="{% static 'img/svg/search-icon.svg' %}" alt="search" class="modal__window_city-search-icon">
        </div>
        <ul class="modal__window_city-list">
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Москва
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Санкт-Петербург
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Новосибирск
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Екатеринбург
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Казань
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Нижний Новгород
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Челябинск
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Ростов-на-Дону
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Омск
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Самара
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Уфа
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Красноярск
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Воронеж
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Пермь
                </a>
            </li>
            <li class="modal__window_city-item">
                <a href="#!" class="modal__window_city-link">
                    <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window_city-arrow"> Волгоград
                </a>
            </li>
        </ul>
    </div>
    <button class="modal__window_city-close">
        <img src="{% static 'img/svg/close-icon.svg' %}" alt="close" class="modal__window_city-close-icon">
    </button>
</div>

<!-- Modal window city end -->

<!-- Modal window profile -->

<div class="modal__window_profile" id="modal__window_profile">
    <div class="modal__window_profile-content">
        <a href="/" class="modal__window_profile-link">
            <img src="{% static 'img/svg/header-logo.svg' %}" alt="" class="logo">
        </a>
        <button class="modal__window_profile-login">
            <span class="modal__window_profile-login-text">Вход</span>
        </button>
        <button class="modal__window_profile-register">
            <span class="modal__window_profile-register-text">Регистрация</span>
        </button>
    </div>
    <button class="modal__window_profile-close">
        <img src="{% static 'img/svg/close-icon.svg' %}" alt="close" class="modal__window_profile-close-icon">
    </button>
</div>

<!-- Modal window profile end -->

<!-- Modal window login -->

<div class="modal__window_login" id="modal__window_login">
    <div class="modal__window_login-content">
        <h2 class="modal__window_login-title">Вход</h2>
        <div class="modal__window_login_input_email-block">
            <h4 class="modal__window_login_input_email-text">E-mail</h4>
            <input type="text" class="modal__window_login_input_email" placeholder="youmail@mail.com">
        </div>
        <div class="modal__window_login_input_password-block">
            <h4 class="modal__window_login_input_password-text">Пароль</h4>
            <input type="text" class="modal__window_login_input_password" placeholder="****************">
        </div>
        <a class="forget__password-link">
            <span class="forget__password-link-text">Забыли пароль?</span>
        </a>
        <button class="modal__window_login-button">
            <span class="modal__window_login-button-text">Войти</span>
        </button>
        <button class="modal__window_login-register">
            <span class="modal__window_login-register-text">Создать учетную запись</span>
        </button>
    </div>
    <button class="modal__window_login-close">
        <img src="{% static 'img/svg/close-icon.svg' %}" alt="close" class="modal__window_login-close-icon">
    </button>
</div>

<!-- Modal window login end -->

<!-- Modal window register start -->

<div class="modal__window_register" id="modal__window_register">
    <div class="modal__window_register-content">
        <h2 class="modal__window_register-title">Регистрация</h2>
        <div class="modal__window_register-block">
            <div class="modal__window_register_input_name-block">
                <h3 class="modal__window_register_input_name-title">Имя</h3>
                <input type="text" class="modal__window_register_input_name" placeholder="Богдан">
            </div>
            <div class="modal__window_register_input_email-block">
                <h3 class="modal__window_register_input_email-title">E-mail</h3>
                <input type="text" class="modal__window_register_input_email" placeholder="youmail@mail.com">
            </div>
            <div class="modal__window_register_input_new_password-block">
                <h3 class="modal__window_register_input_new_password-title">Новый пароль</h3>
                <input type="text" class="modal__window_register_input_new_password" placeholder="****************">
            </div>
            <div class="modal__window_register_input_confirm_new_password-block">
                <h3 class="modal__window_register_input_confirm_new_password-title">Подтверждение пароля</h3>
                <input type="text" class="modal__window_register_input_confirm_new_password" placeholder="****************">
            </div>
        </div>
        <button class="modal__window_register-button">
            <span class="modal__window_register-button-text">Зарегистрироваться</span>
        </button>
    </div>
    <button class="modal__window_register-close">
        <img src="{% static 'img/svg/close-icon.svg' %}" alt="close" class="modal__window_register-close-icon">
    </button>
</div>

<!-- Modal window register end -->

<!-- Modal window seller start -->

<div id="modal__seller" class="modal__seller">
    <div class="modal__seller-content">
        <button class="modal__seller_close-button">
            <img src="{% static 'img/svg/close-icon.svg' %}" alt="close" class="modal__seller_close-icon">
        </button>
        <h2 class="modal__seller-title">За подробностями обращайтесь по телефону</h2>
        <p class="modal__seller-number">+375-44-444-44-44</p>
    </div>
</div>

<!-- Modal window seller end -->