html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    }

a:hover,
button:hover {
  cursor: url('../img/svg/finger.svg'), pointer;
}

button, a {
    user-select: none;
}

body {
    font-family: Crimson Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: rgb(47, 50, 58);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}


img{
    max-width: 100%;
    height: auto;
}

/* Header start */

.header {
    position: relative;
    top: 0;
    left: 0;
    clear: both;
    margin-bottom: 40px;
    overflow-y: auto;
    max-width: 100%;
}

.header__background-grey {
    background: rgb(246, 246, 246);
}

.header__main_info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 140px;
    position: relative;
}

.header__location_info {
    display: flex;
    flex-wrap: wrap;
}

.header__location_icon {
    margin-right: 10px;
}

.header__location_button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
    color: rgb(90, 96, 102);
}

.header__location_button:hover, .header__location_button:focus, .header__location_button:active {
    color: rgb(47, 50, 58);
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__link {
    margin-left: 24px;
    color: rgb(93, 96, 102);
    font-size: 15px;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    color: rgb(47, 50, 58);
}

.main__tools {
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px 140px;
    margin-bottom: 16px;
    z-index: 1000;
    max-width: 1440px;
}

.header__logo {
    margin-right: 117px;
}

.header__catalog {
    margin-right: 16px;
}

.header__catalog-link {
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border: none;
    background: #FCEC41;
    padding: 12px 20px;
}

  .header__catalog-link:active {
    transform: scale(0.95);
}

.header__catalog-text {
    color: rgb(23, 27, 36);
    font-size: 18px;
    line-height: 136%;
}

.header__catalog-link:hover, .header__catalog-link:hover .header__catalog-text {
  background-color: rgb(47, 50, 58);
  color: white;
}

.header__catalog-link:hover img {
  filter: invert(100%);
}

.header__catalog-link:active .header__catalog-text {
  color: rgb(209, 209, 211);
}

.header__catalog-link:active img {
  filter: invert(50%);
}

.header__search {
    position: relative;
    display: inline-block;
    margin-right: 16px;
}

.header__search-input {
    width: 444px;
    height: 49px;
    padding-right: 35px;
    box-sizing: border-box;
    background: rgb(246, 246, 246);
    border: none;
}

.header__search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}


.header__cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__card {
    width: 82px;
    height: 48px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
}

.header__card-thumbnail {
    display: block;
    margin: 0 auto;
}

.header__card__title {
    font-size: 15px;
    line-height: 145%;
    color: rgb(69, 73, 80);
}

.header__card:hover, .header__card:focus, .header__card:active, .header__card:active {
    opacity: 0.7;
}

.header__categories-list {
    padding: 11px 196.5px;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(209, 209, 211);
}

.header_category-link {
    text-decoration: none;
    color: rgb(93, 96, 102);
    font-size: 16px;
    line-height: 150%;
}

.header_category-link:hover, .header_category-link:focus, .header_category-link:active {
    color: rgb(47, 50, 58);
}

/* Header end */

/* Footer start */

.footer {
    background: rgb(47, 50, 58);
}

.footer__wrapper {
    padding: 40px 140px;
}

.footer-text {
    color: rgb(232, 233, 234);
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
}

.footer__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer__block_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__location, .footer__mail {
    width: 100%;
    display: flex;
}

.footer__mail-text, .footer__location-text {
    margin-left: 11px;
}

.footer__mail, .footer__location {
    margin-top: 23px;
}

.footer__location {
    margin-top: 16px;
}

.footer__list {
    list-style: none;
    column-count: 3;
    column-gap: 16px;
}

.footer__list li {
    break-inside: avoid;
}

.footer__list li:nth-child(1),
.footer__list li:nth-child(2) {
    column-width: 278px;
}

.footer__list li:nth-child(3) {
    column-width: 180px;
}

.footer__item {
    margin-bottom: 12px;
}

.footer__btn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.footer__btn img {
    display: none;
}

.footer__btn:hover img {
    display: block;
    filter: brightness(0) invert(1);
    transform: translateY(2px);
}

.footer__info {
    width: 1160px;
    height: 53px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__info-text_made {
    margin-right: 60px;
}
/* Footer end */

/* Modal window start */


.modal__window_city {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(23, 27, 36, 0.6);
    z-index: 1001;
}


.modal__window_city-close {
    background: none;
    border: none;
}

.modal__window_city-close-icon {
    position: absolute;
    padding: 0;
    top: 20px;
    right: 20px;
    width: 52px;
    height: 52px;
    cursor: pointer;
}
.modal__window_city-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    width: 572px;
    height: 397px;
    border: 1px solid #888;
}

.modal__window_city-title {
    color: rgb(47, 50, 58);
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
    width: 500px;
    height: 44px;
    position: absolute;
    top: 36px;
    left: 36px;
    margin-bottom: 24px;
}

.modal__window_city-search {
    position: absolute;
    top: 104px;
    left: 36px;
    width: 500px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    background: rgb(246, 246, 246);
}

.modal__window_city-input {
    background: rgb(246, 246, 246);
    width: 100%;
    height: 100%;
    border: none;
}
.modal__window_city-search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.modal__window_city-list {
    position: absolute;
    top: 177px;
    left: 36px;
    columns: 3;
    column-width: 156px;
    column-gap: 16px;
}

.modal__window_city-item {
  margin-bottom: 16px;
}

.modal__window_city-link {
    color: rgb(47, 50, 58);
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    margin-bottom: 16px;
    position: relative;
}

.modal__window_city-item:hover {
    padding-left: 11px;
}


.modal__window_city-link img {
    opacity: 0;
    transition: opacity 0.3s;
}

.modal__window_city-link:hover img {
    opacity: 1;
}


.modal-open {
  display: block;
}

.modal__window {
    display: none;
}

/* Modal window end */

/* Modal window profile start */

.modal__window_profile {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(23, 27, 36, 0.6);
    z-index: 1001;
}

.modal__window_profile-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    width: 250px;
    height: 300px;
    border: 1px solid #888;
}


.modal__window_profile-close {
    background: none;
    border: none;
}

.modal__window_profile-close-icon {
    position: absolute;
    padding: 0;
    top: 20px;
    right: 20px;
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 40px;
    left: 35px;
}

.modal__window_profile-login {
    position: absolute;
    top: 140px;
    left: 25px;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: yellow;
}

.modal__window_profile-login-text {
    color: rgb(23, 27, 36);
    font-size: 18px;
    line-height: 136%;
    text-align: center;
}

.modal__window_profile-register {
    position: absolute;
    top: 190px;
    left: 25px;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: yellow;
}

.modal__window_profile-register-text {
    color: rgb(23, 27, 36);
    font-size: 18px;
    line-height: 136%;
    text-align: center;
}

.modal__window_profile-register:hover, .modal__window_profile-login:hover {
    background: rgb(47, 50, 58);
}

.modal__window_profile-register:hover span, .modal__window_profile-login:hover span {
    color: white;
}

.modal__window_profile-register:active span, .modal__window_profile-login:active span {
    color: rgb(209, 209, 211);
}

/* Modal window profile end */

/* Modal window login start */

#modal__window_login {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(23, 27, 36, 0.6);
    z-index: 1001;
}

.modal__window_login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    width: 376px;
    height: 494px;
    border: 1px solid #888;
}

.modal__window_login-close {
    background: none;
    border: none;
}

.modal__window_login-close-icon {
    position: absolute;
    padding: 0;
    top: 20px;
    right: 20px;
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.modal__window_login-title {
    position: absolute;
    top: 36px;
    left: 36px;
    width: 304px;
    height: 44px;
    color: rgb(47, 50, 58);
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
}

.modal__window_login_input_email-block {
    position: absolute;
    top: 104px;
    left: 36px;
    width: 304px;
    height: 81px;
}

.modal__window_login_input_email-text {
    width: 100%;
    height: 24px;
    color: rgb(47, 50, 58);
    margin-bottom: 8px;
}

.modal__window_login_input_email {
    position: static;
    width: 304px;
    height: 49px;
    background: rgb(246, 246, 246);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    padding: 12px 16px 12px 16px;
}

.modal__window_login_input_password-block {
    position: absolute;
    top: 209px;
    left: 36px;
    width: 304px;
    height: 81px;
}

.modal__window_login_input_password-text {
    width: 100%;
    height: 24px;
    color: rgb(47, 50, 58);
    margin-bottom: 8px;
}

.modal__window_login_input_password {
    position: static;
    width: 304px;
    height: 49px;
    background: rgb(246, 246, 246);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    padding: 12px 16px 12px 16px;
}

.forget__password-link {
    position: absolute;
    top: 302px;
    left: 36px;
    width: 120px;
    height: 22px;
}

.forget__password-link-text {
    color: rgb(93, 96, 102);
    font-size: 15px;
    line-height: 145%;
    text-align: left;
}

.modal__window_login-error {
    position: absolute;
    top: 326px;
    left: 36px;
    width: 304px;
    height: 22px;
    color: red;
}

.modal__window_login-button {
    position: absolute;
    top: 348px;
    left: 36px;
    background: rgb(252, 236, 65);
    width: 304px;
    height: 49px;
    border: none;
}

.modal__window_login-button-text {
    color: rgb(23, 27, 36);
    font-size: 18px;
    line-height: 136%;
    text-align: center;
}

.modal__window_login-button:hover {
    background: rgb(47, 50, 58);
}

.modal__window_login-button:hover .modal__window_login-button-text {
    color: white;
}

.modal__window_login-button:active .modal__window_login-button-text {
    color: rgb(209, 209, 211);
}

.modal__window_login-register {
    position: absolute;
    top: 409px;
    left: 36px;
    width: 304px;
    height: 49px;
    border: 1px solid rgb(209, 209, 211);
    background: none;
}

.modal__window_login-register-text {
    color: rgb(23, 27, 36);
    font-size: 18px;
    line-height: 136%;
    text-align: center;
}

.modal__window_login-register:hover {
    background: rgb(47, 50, 58);
}

.modal__window_login-register:hover .modal__window_login-register-text {
    color: white;
}

.modal__window_login-register:active .modal__window_login-register-text {
    color: rgb(209, 209, 211);
}

/* Modal window login end */

/* Modal window register start */

#modal__window_register {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(23, 27, 36, 0.6);
    z-index: 1001;
}

.modal__window_register-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    width: 572px;
    height: 399px;
    border: 1px solid #888;
}

.modal__window_register-close {
    background: none;
    border: none;
}

.modal__window_register-close-icon {
    position: absolute;
    padding: 0;
    top: 20px;
    right: 20px;
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.modal__window_register-title {
    position: absolute;
    top: 36px;
    left: 36px;
    width: 500px;
    height: 44px;
    color: rgb(47, 50, 58);
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
}

.modal__window_register-block {
    position: absolute;
    top: 104px;
    left: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.modal__window_register_input_name-block,
.modal__window_register_input_email-block,
.modal__window_register_input_new_password-block,
.modal__window_register_input_confirm_new_password-block {
    margin-bottom: 8px;
    width: 242px;
    height: 81px;
}

.modal__window_register_input_name-title,
.modal__window_register_input_email-title,
.modal__window_register_input_new_password-title,
.modal__window_register_input_confirm_new_password-title {
    color: rgb(47, 50, 58);
    line-height: 150%;
    text-align: left;
    margin-bottom: 8px;
}

.modal__window_register_input_name,
.modal__window_register_input_email,
.modal__window_register_input_new_password,
.modal__window_register_input_confirm_new_password {
    position: static;
    width: 242px;
    height: 49px;
    background: rgb(246, 246, 246);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    padding: 12px 16px 12px 16px;
}

.modal__window_register-error {
    position: absolute;
    top: 287px;
    left: 36px;
    width: 500px;
    margin-bottom: 20px;
    color: red;
}

.modal__window_register-button {
    position: absolute;
    top: 314px;
    left: 36px;
    width: 500px;
    height: 49px;
    background: rgb(252, 236, 65);
    border: none;
}

.modal__window_register-button-text {
    color: rgb(23, 27, 36);
    font-size: 18px;
    line-height: 136%;
    text-align: center;
}

.modal__window_register-button:hover {
    background: rgb(47, 50, 58);
}

.modal__window_register-button:hover .modal__window_register-button-text {
    color: white;
}

.modal__window_register-button:active .modal__window_register-button-text {
    color: rgb(209, 209, 211);
}

/* Modal window register end */

/* Modal window seller start */


#modal__seller {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__seller-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

.modal__seller_close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal__seller_close-button {
    background: none;
    border: none;
}

.modal__seller_close-icon {
    position: absolute;
    padding: 0;
    top: 20px;
    right: 20px;
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.modal__seller-title {
    color: rgb(47, 50, 58);
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
    margin-bottom: 30px;
}

.modal__seller-number {
    color: rgb(47, 50, 58);
    font-size: 25px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin-bottom: 30px;
}

/* Modal window seller end */

.popular__items-title {
    text-decoration: none;
}

.stocks__pic_and_stock {
    position: relative;
    width: 278px;
    height: 208px;
}

.stock__pic {
    z-index: 3;
    border: 1px solid rgb(232, 233, 234);
}

.stock {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 4;
    color: rgb(23, 27, 36);
    font-size: 15px;
    line-height: 145%;
    box-sizing: border-box;
    border: 2px solid rgb(251, 227, 3);
    background: rgb(255, 255, 255);
}

.border {
    border: none;
}

.block_bottom_16px {
    margin-bottom: 16px;
}

.block-price {
    display: flex;
    margin-bottom: 16px;
}


.product__new-price {
    color: rgb(23, 27, 36);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}

.product__old-price {
    margin: 5px 0 0 15px;
    text-decoration: line-through;
    color: rgb(139, 141, 146);
    font-size: 15px;
    line-height: 150%;
}

.header__wrapper-mobile {
    display: none;
}

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 0.5em;
    z-index: 1001;
    width: 100%;
}

.mobile-header-title {
    font-size: 1.5em;
}

.mobile-menu-toggle {
    font-size: 1.5em;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

.mobile-nav {
    display: none;
    background: #444;
    padding: 1em;
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5em 0;
}

.mobile-header__logo {
    position: static;
}

@media (max-width: 1440px) {
    body {
        width: 1440px;
    }
    .header__wrapper-mobile {
        position: static;
        display: block;
        width: 100%;
    }
    .header__wrapper {
        visibility: hidden;
        display: none;
    }
    .footer__block_info {
        margin-bottom: 20px;
    }
    .footer__info {
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
    }
    .footer__info-text {
        margin-right: 20px;
    }
    .footer__cards {
        margin-right: 20px;
    }
}

@media (max-width: 750px) {

    .footer__info {
        display: grid;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .footer {
        height: 570px;
    }
    .footer__btn:hover img{
        display: none;
        filter: none;
        transform: none;
    }
}

@media (max-width: 500px) {
    .footer__list {
        column-count: 2;
    }
    .footer {
        height: 640px;
    }
}

