{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}

<h1 class="account__wrapper account__title">
    Личный кабинет
</h1>

<!-- Data start -->

<section class="account__wrapper account__data">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <h2 class="account__data-title">Личный информация</h2>
    <div class="account__data-block1">
        <div class="account__data-name">
            <h3 class="account__data-name-title">Имя</h3>
            <input type="text" class="account__data-name-input" value="{{ name }}" placeholder="Иван">
        </div>
        <div class="account__data-surname">
            <h3 class="account__data-surname-title">Фамилия</h3>
            <input type="text" class="account__data-surname-input" value="{{ surname }}" placeholder="Иванов">
        </div>
        <div class="account__data-birthday">
            <h3 class="account__data-birthday-title">Дата рождения</h3>
            <input type="text" class="account__data-birthday-input" value="{{ birthday }}" placeholder="16.16.1980">
        </div>
        <div class="account__data-phone">
            <h3 class="account__data-phone-title">Телефон</h3>
            <input type="text" class="account__data-phone-input" value="{{ phone }}" placeholder="+375 44 444 4444">
        </div>
    </div>
    <div class="account__data-email">
        <h3 class="account__data-email-title">E-mail</h3>
        <input type="text" class="account__data-email-input" value="{{ email }}" readonly placeholder="youmail@mail.com">
    </div>
    <span>
        <p class="account__data-error"></p>
    </span>
    <button class="account__data-save">
        <p class="account__data-save-text">
            Сохранить
        </p>
    </button>
</section>

<!-- Data end -->

{% endblock %}

{% block js %}
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}