{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/basket.css' %}">
{% endblock %}

{% block content %}

<div class="basket__main">
    <div class="wrapper basket__main_wrapper">
        <h2 class="basket-desc">
            Главная → Корзина
        </h2>
        <h1 class="basket-title">Корзина</h1>
    </div>
</div>

<div class="basket">
    <div class="wrapper basket__wrapper">
        <div class="basket__form">
            <div class="basket__form_info">
                <h3 class="basket__form-title">
                    Итого
                </h3>
                <div class="basket__form-count">
                    <p class="basket__form-count-title">Количество товара</p> <span class="basket__form-count-value">{{ count_orders }} шт.</span>
                </div>
                <div class="basket__form-price-all">
                    <p class="basket__form-price-all-title">Товаров на сумму</p> <span class="basket__form-price-value">{{ sum_orders }} ₽</span>
                </div>
                <div class="basket__form-supplier">
                    <p class="basket__form-supplier-title">Поставщик</p> <span class="basket__form-supplier-value">{{ supplier }}</span>
                </div>
            </div>
            <div class="basket__form_btn">
                <button class="basket__form-btn" id="basket__form-btn">
                    <p class="basket__form-btn-text">
                        Оформить заказ
                    </p>
                </button>
            </div>
            <div class="basket__form_advice">
                <div class="basket__form_advice-first">
                    <img src="{% static 'img/basket/svg/icon-1.svg' %}" alt="icon" class="basket__form_advice-first-img">
                    <p class="basket__form_advice-first-text">
                        Можно сделать заказ только от одного поставщика
                    </p>
                </div>
                <div class="basket__form_advice-second">
                    <img src="{% static 'img/basket/svg/icon-2.svg' %}" alt="icon" class="basket__form_advice-second-img">
                    <p class="basket__form_advice-second-text">
                        Доставка осуществляется курьерами поставщика или службой курьеров Достависта. Также товар можно забрать самостоятельно от поставщика
                    </p>
                </div>
                <div class="basket__form_advice-third">
                    <img src="{% static 'img/basket/svg/icon-3.svg' %}" alt="icon" class="basket__form_advice-third-img">
                    <p class="basket__form_advice-third-text">
                        Точная сумма доставки будет определена после после подтверждения заказа
                    </p>
                </div>
            </div>
        </div>
        <div class="basket__products">
            <ul class="basket__products-list">
                {% for order in orders %}
                    <li class="basket__products-item">
                        <img src="{{ order.product.photo.url }}" alt="{{ order.product.name }}" class="basket__products-img">
                        <div class="product__block-1">
                            <h2 class="basket__products-title">
                                {{ order.product.name }}
                            </h2>
                            <p class="basket__products-price">
                                {{ order.product.price }} ₽
                            </p>
                            <div class="basket__products_quantity">
                                <button class="basket__products_plus">+</button>
                                <input type="number" class="basket__products_input" value="{{ order.quantity }}" min="1">
                                <button class="basket__products_minus">-</button>
                            </div>
                        </div>
                        <div class="product__block-2">
                            <p class="basket__products-code">
                                Код товара:<br>
                                {{ order.product.code }}
                            </p>
                            <button class="basket__products-btn">
                                <p class="basket__products-btn-text">
                                    Удалить товар
                                </p>
                            </button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

// Modal window

<div class="modal__window_pay" id="modal__window_pay">
    <div class="modal__window_pay_form" id="modal__window_pay_form">
        <ul class="modal__window_pay-list">
            <li class="modal__window_pay-item">
                <h3 class="modal__window_pay-title">Номер карты: </h3>
                <input type="text" class="modal__window_pay-input-card modal__window_pay-input-card-card" placeholder="4444 4444 4444 4444">
            </li>
            <li class="modal__window_pay-item">
                <h3 class="modal__window_pay-title">Срок действия(месяц): </h3>
                <input type="text" class="modal__window_pay-input-card modal__window_pay-month" placeholder="01">
            </li>
            <li class="modal__window_pay-item">
                <h3 class="modal__window_pay-title">Срок действия(год): </h3>
                <input type="text" class="modal__window_pay-input-card modal__window_pay-year" placeholder="22">
            </li>
            <li class="modal__window_pay-item">
                <h3 class="modal__window_pay-title">CVC: </h3>
                <input type="text" class="modal__window_pay-input-card modal__window_pay-cvc" placeholder="CVC">
            </li>
        </ul>
        <div class="modal__window_pay-btn">
            <button class="modal__window_pay-btn">
                <p class="modal__window_pay-btn-text">
                    Оплатить
                </p>
            </button>
            <button class="modal__window_pay_close-button">
                <img src="{% static 'img/svg/close-icon.svg' %}" alt="close" class="modal__window_pay_close-icon">
            </button>
        </div>
    </div>
</div>

//

{% endblock %}

{% block js %}
<script src="{% static 'js/basket.js' %}"></script>
{% endblock %}