{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}

<main class="catalog">
    <div class="wrapper catalog__wrapper">
        <div class="catalog-text">
            <h3 class="catalog-desc">Главная → Каталог</h3>
            <h1 class="catalog-title">Каталог</h1>
        </div>
    </div>
</main>

<!-- Suppliers start -->

<section class="catalog__suppliers">
    <div class="wrapper catalog__suppliers-wrapper">
        <ul class="catalog__suppliers-list">
            {% for supplier in suppliers %}
                <li class="catalog__suppliers-item">
                    <button class="catalog__suppliers-btn">
                        <p class="catalog__suppliers-text">{{ supplier.name }}</p>
                    </button>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<!-- Suppliers end -->

<!-- Categories start -->

<section class="catalog__categories">
    <div class="wrapper catalog__categories-wrapper">
        <ul class="catalog__categories-list">
            {% for key, value in data.items %}
                <li class="catalog__categories-item">
                    <div class="catalog__categories-block">
                        <h2 class="catalog__categories-item-title">
                            {{ key }}
                        </h2>
                        <img src="{{ key.photo.url }}" alt="фото категории" class="catalog__categories-img">
                    </div>
                    <ul class="sub-categories-list">
                        {% for subcategory in value %}
                            <li class="sub-categories-item">
                                <img src="{% static 'img/svg/arrow-footer.svg' %}" alt="arrow" class="sub-categories-item-arrow">
                                <a href="/catalog/{{key.name}}/{{ subcategory }}" class="sub-categories-item-title">
                                    {{ subcategory }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<!-- Categories end -->

{% endblock %}

{% block js %}
<script src="{% static 'js/catalog.js' %}"></script>
{% endblock %}