{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/category_catalog.css' %}">
<link href="https://cdn.jsdelivr.net/npm/nouislider@14.6.3/distribute/nouislider.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/nouislider@14.6.3/distribute/nouislider.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
{% endblock %}

{% block content %}

<div class="category">
    <h2 class="category-desc">Главная → Каталог → {{ category }} → {{ subcategory }}</h2>
    <h1 class="category-title" data-category="{{ category }}">{{ subcategory }}</h1>
</div>

<main class="category__catalog">
    <section class="category__tools">
        <div class="category__tools_wrapper">
            <div class="category__price">
                <h3 class="category__price-title">Цена</h3>
                <input type="text" class="category__price-input-from">
                <input type="text" class="category__price-input-to">
                <div id="slider" class="category__price-range"></div>
                <style>
                    .noUi-horizontal .noUi-handle {
                        width: 20px;
                        height: 20px;
                        right: -17px;
                        top: -6px;
                    }

                    .noUi-connect {
                        background: rgb(139, 141, 146);
                    }
                </style>
            </div>
            <div class="category__brand">
                <h3 class="category__brand-title">Бренд</h3>
                <form action="/search" class="category__brand-form">
                    <input type="text" class="category__brand-input">
                    <button class="category__brand-btn">
                        <img src="{% static 'img/svg/search-icon.svg' %}" alt="Search" style="width: 20px; height: 20px;" class="category__brand-search">
                    </button>
                </form>
                <ul class="category__brand-list">
                    {% for brand in brands %}
                    <li class="category__brand-item">
                        <input type="checkbox" class="category__brand-checkbox">
                        <p class="category__brand-item-text">{{ brand }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="category_suppliers">
                <h3 class="category_suppliers-title">Поставщик</h3>
                <select class="category_suppliers-select">
                    {% for supplier in suppliers %}
                        <option value="{{ supplier }}" class="category_suppliers-option">{{ supplier }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="category__buttons">
                <button class="category__buttons-apply">Применить</button>
                <button class="category__buttons-reset">Сбросить</button>
            </div>
        </div>
    </section>
    <section class="products">
        <div class="products__sort">
            <ul class="products__sort-list">
                <li class="products__sort-item">
                    <a href="#!" class="products__sort-link" data-method="popular">Популярные</a>
                </li>
                <li class="products__sort-item">
                    <a href="#!" class="products__sort-link" data-method="cheap">Дешевле</a>
                </li>
                <li class="products__sort-item">
                    <a href="#!" class="products__sort-link" data-method="expensive">Дороже</a>
                </li>
                <li class="products__sort-item">
                    <a href="#!" class="products__sort-link" data-method="alphabet">По алфавиту</a>
                </li>
            </ul>
        </div>
        <div class="products__products">
            <ul class="products__products-list">
                {% for product in products %}
                    {% if not product.discount  %}
                        <li class="products__products-item">
                            <img src="{{ product.photo.url }}" alt="product" class="products__products-img">
                            <div class="products__products-text">
                                <a  href="/catalog/{{ category }}/{{ product.subcategory }}/{{ product.name }}/" class="products__products-title">{{ product.name }}</a>
                                <p class="products__products-price">{{ product.price }} ₽</p>
                                <div class="button-block">
                                    <button class="products__products-btn basket-click" value="{{ product.id }}">
                                        <p  class="products__products-btn-text">
                                            В корзину
                                        </p>
                                    </button>
                                    <div class="basket__quantity">
                                        <button class="basket__plus">+</button>
                                            <input type="number" class="basket__input" value="1" min="1">
                                        <button class="basket__minus">-</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li class="products__products-item">
                           <div class="stocks__pic_and_stock block_bottom_16px">
                                <img src="{{ product.photo.url }}" alt="product" class="stock__pic border">
                                <p class="stock">{{ product.discount }}%</p>
                           </div>
                            <div class="products__products-text">
                                <a  href="/catalog/{{ product.subcategory.category.name }}/{{ product.subcategory }}/{{ product.name }}/" class="products__products-title">{{ product.name }}</a>
                                <div class="block-price">
                                    <p class="product__new-price">{{ product.new_price }} ₽</p>
                                    <p class="product__old-price">{{ product.price }} ₽</p>
                                </div>
                                <div class="button-block">
                                    <button class="products__products-btn basket-click" value="{{ product.id }}">
                                        <p  class="products__products-btn-text">
                                            В корзину
                                        </p>
                                    </button>
                                    <div class="basket__quantity">
                                        <button class="basket__plus">+</button>
                                            <input type="number" class="basket__input" value="1" min="1">
                                        <button class="basket__minus">-</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="products__products-pagination">
            <ul class="products__products-pagination-list">
                {% for page in pages %}
                    <li class="products__products-pagination-item">
                        <a href="{{ page.url }}" class="products__products-pagination-link">{{ page.number }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>

{% endblock %}

{% block js %}
<script src="{% static 'js/category_catalog.js' %}"></script>
{% endblock %}