{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/documentation.css' %}">
{% endblock %}


{% block content %}

<div class="documentation">
    <div class="wrapper documentation__wrapper">
        <div class="documentation-desc">
            Главная → Документация
        </div>
        <div class="documentation-title">
            Документация
        </div>
    </div>
</div>

<section class="documentation__main">
    <div class="wrapper documentation__main_wrapper">
        {% for document in documents %}
        <div class="documentation__block">
            <div class="documentation-background">
                <div class="background-1"></div>
                <div class="background-2">
                    <div class="background-2-title">{{ document.shortname|default:"Название" }}</div>
                    <div class="rectangle-1"></div>
                    <div class="rectangle-2"></div>
                </div>
            </div>
            <div class="documentation__text">
                <div class="documentation__main-title">{{ document.fullname|default:"Полное название" }}</div>
                <div class="size__and_format">
                    {{ document.file.name|slice:'-4:'|upper }} {{ document.file.size|filesizeformat }}
                </div>
                <a href="{{ document.file.url }}" class="documentation-download" download>Скачать</a>
            </div>
        </div>
        {% empty %}
        <p>Документы не найдены</p>
        {% endfor %}
    </div>
</section>

{% endblock %}


{% block js %}
<script src="{% static 'js/documentation.js' %}"></script>
{% endblock %}