<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StroykaStore</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Header start -->
    {% include 'header.html' %}
    <!-- Header end -->

    <!-- Main start -->
    <main class="main">

        <!-- Main tab start -->
        
        <div class="main__tab">
            <div class="wrapper">
                <div class="main__tab-background">
                    <div class="main__tab_text">
                        <h1 class="main__tab_title">
                            Специальные предложения
                        </h1>
                        <h2 class="main__tab_description">
                            на строительные материалы и товары для ремонта
                        </h2>
                    </div>
                    <div class="main__tab_more">
                        <button id="main__tab-details">
                            <a href="#offer" class="main__tab-link js-scroll">Подробнее</a>
                        </button>
                    </div>
                    <div class="main__tab_arrows">
                        <button id="main__tab-left-arrow" class="main__tab-arrow">
                            <a href="#!" class="main__tab-link">
                                <img src="{% static 'img/svg/main__tab-left-arrow.svg' %}" alt="left arrow">
                            </a>
                        </button>
                        <button id="main__tab-right-arrow" class="main__tab-arrow">
                            <a href="#!" class="main__tab-link">
                                <img src="{% static 'img/svg/main__tab-right-arrow.svg' %}" alt="right arrow">
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main tab end -->

        <!-- Stocks start -->

        <div class="stocks" id="offer">
            <div class="wrapper stocks__wrapper">
                <div class="stocks__stocks">
                    <h3 class="stocks__name">
                        Акции
                    </h3>
                    <button class="stocks__all-button">
                        <a href="#!" class="stocks__all-link">
                            Все акции  <img src="{% static 'img/svg/arrow-icon-right.svg' %}" alt="Все акции">
                        </a>
                    </button>
                </div>
                <ul class="stock__list">
                    <li class="stock__item">
                        <div class="stocks__pic_and_stock">
                            <img src="{% static 'img/stock-1.png' %}" alt="Рубероид" class="stock__pic">
                            <p class="stock">-25%</p>
                        </div>
                        <div class="stock__desc">
                            <h4 class="stock__title">Рубероид РКП-350 ТУ, размер материала 1 х 10 м (10м2, 1 рулон)</h4>
                            <p class="stock__new_price">449 ₽</p>
                            <p class="stock__old_price">499 ₽</p>
                            <div class="basket__container">
                                <div class="stock__basket">
                                    <button  class="stock__basket-button basket-click">
                                      <a href="#!" class="stock__basket-link">В корзину</a>
                                    </button>
                                    <div class="basket__quantity" hidden>
                                        <button class="basket__plus">+</button>
                                            <input type="number" class="basket__input" value="1" min="1">
                                        <button class="basket__minus">-</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="stock__item">
                        <div class="stocks__pic_and_stock">
                            <img src="{% static 'img/stock-2.png' %}" alt="Пена монтажная" class="stock__pic">
                            <p class="stock">-25%</p>
                        </div>
                        <div class="stock__desc">
                            <h4 class="stock__title">Пена монтажная ТЕХНОНИКОЛЬ MASTER 65 профессиональная всесезонная</h4>
                            <p class="stock__new_price">495 ₽</p>
                            <p class="stock__old_price">660 ₽</p>
                            <div class="basket__container">
                                <div class="stock__basket">
                                    <button  class="stock__basket-button basket-click">
                                      <a href="#!" class="stock__basket-link">В корзину</a>
                                    </button>
                                    <div class="basket__quantity" hidden>
                                        <button class="basket__plus">+</button>
                                            <input type="number" class="basket__input" value="1" min="1">
                                        <button class="basket__minus">-</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="stock__item">
                        <div class="stocks__pic_and_stock">
                            <img src="{% static 'img/stock-3.png' %}" alt="Сетка Рабица" class="stock__pic">
                            <p class="stock">-25%</p>
                        </div>
                        <div class="stock__desc">
                            <h4 class="stock__title">Сетка "Рабица" яч. 50х50/1,5х10 м-ОЦ</h4>
                            <p class="stock__new_price">1499 ₽</p>
                            <p class="stock__old_price">1890 ₽</p>
                            <div class="basket__container">
                                <div class="stock__basket">
                                    <button  class="stock__basket-button basket-click">
                                      <a href="#!" class="stock__basket-link">В корзину</a>
                                    </button>
                                    <div class="basket__quantity" hidden>
                                        <button class="basket__plus">+</button>
                                            <input type="number" class="basket__input" value="1" min="1">
                                        <button class="basket__minus">-</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="stock__item">
                        <div class="stocks__pic_and_stock">
                            <img src="{% static 'img/stock-4.png' %}" alt="Металлочерепица" class="stock__pic">
                            <p class="stock">-25%</p>
                        </div>
                        <div class="stock__desc">
                            <h4 class="stock__title">Металлочерепица, цвет коричневый, 1.18 х 1.15 м</h4>
                            <p class="stock__new_price">769 ₽</p>
                            <p class="stock__old_price">999 ₽</p>
                            <div class="basket__container">
                                <div class="stock__basket">
                                    <button  class="stock__basket-button basket-click">
                                      <a href="#!" class="stock__basket-link">В корзину</a>
                                    </button>
                                    <div class="basket__quantity" hidden>
                                        <button class="basket__plus">+</button>
                                            <input type="number" class="basket__input" value="1" min="1">
                                        <button class="basket__minus">-</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Stocks end -->

        <!-- Popular categories start -->

        <div class="popular__categories">
            <div class="wrapper popular_categories__wrapper">
                <div class="popular__categories_block">
                    <h3 class="popular__categories_name">
                        Популярные категории
                    </h3>
                    <button class="popular__categories_all-button">
                        <a href="#!" class="popular__categories_all-link">
                            Все категории  <img src="{% static 'img/svg/arrow-icon-right.svg' %}" alt="Все категории">
                        </a>
                    </button>
                </div>
                <ul class="popular__categories_list">
                    <li class="popular__categories_item">
                        <a href="#!" class="popular__categories-link">
                            <h5 class="popular__categories_item_name">
                                Душевые
                            </h5>
                            <img src="{% static 'img/popular-categories-1.png' %}" alt="Душевые" class="popular__categories-pic">
                        </a>
                    </li>
                    <li class="popular__categories_item">
                        <a href="#!" class="popular__categories-link">
                            <h5 class="popular__categories_item_name">
                                Пиломатериалы
                            </h5>
                            <img src="{% static 'img/popular-categories-2.png' %}" alt="Пиломатериалы" class="popular__categories-pic">
                        </a>
                    </li>
                    <li class="popular__categories_item">
                        <a href="#!" class="popular__categories-link">
                            <h5 class="popular__categories_item_name">
                                Линолеум
                            </h5>
                            <img src="{% static 'img/popular-categories-3.png' %}" alt="Линолеум" class="popular__categories-pic">
                        </a>
                    </li>
                    <li class="popular__categories_item">
                        <a href="#!" class="popular__categories-link">
                            <h5 class="popular__categories_item_name">
                                Обои
                            </h5>
                            <img src="{% static 'img/popular-categories-4.png' %}" alt="Обои" class="popular__categories-pic">
                        </a>
                    </li>
                    <li class="popular__categories_item">
                        <a href="#!" class="popular__categories-link">
                            <h5 class="popular__categories_item_name">
                                Инструменты
                            </h5>
                            <img src="{% static 'img/popular-categories-5.png' %}" alt="Инструменты" class="popular__categories-pic">
                        </a>
                    </li>
                    <li class="popular__categories_item">
                        <a href="#!" class="popular__categories-link">
                            <h5 class="popular__categories_item_name">
                                Товары для дачи
                            </h5>
                            <img src="{% static 'img/popular-categories-6.png' %}" alt="Товары для дачи" class="popular__categories-pic">
                        </a>
                    </li>
                    <li class="popular__categories_item">
                        <a href="#!" class="popular__categories-link">
                            <h5 class="popular__categories_item_name">
                                Окна
                            </h5>
                            <img src="{% static 'img/popular-categories-7.png' %}" alt="Окна" class="popular__categories-pic">
                        </a>
                    </li>
                    <li class="popular__categories_item">
                        <a href="#!" class="popular__categories-link">
                            <h5 class="popular__categories_item_name">
                                Двери
                            </h5>
                            <img src="{% static 'img/popular-categories-8.png' %}" alt="Двери" class="popular__categories-pic">
                        </a>
                    </li>
                    <li class="popular__categories_item">
                        <a href="#!" class="popular__categories-link">
                            <h5 class="popular__categories_item_name">
                                Сантехника
                            </h5>
                            <img src="{% static 'img/popular-categories-9.png' %}" alt="Сантехника" class="popular__categories-pic">
                        </a>
                    </li>
                    <li class="popular__categories_item">
                        <a href="#!" class="popular__categories-link">
                            <h5 class="popular__categories_item_name">
                                Краски
                            </h5>
                            <img src="{% static 'img/popular-categories-10.png' %}" alt="Краски" class="popular__categories-pic">
                        </a>
                    </li>
                    <li class="popular__categories_item">
                        <a href="#!" class="popular__categories-link">
                            <h5 class="popular__categories_item_name">
                                Электротовары
                            </h5>
                            <img src="{% static 'img/popular-categories-11.png' %}" alt="Электротовары" class="popular__categories-pic">
                        </a>
                    </li>
                    <li class="popular__categories_item">
                        <a href="#!" class="popular__categories-link">
                            <h5 class="popular__categories_item_name">
                                Интерьер
                            </h5>
                            <img src="{% static 'img/popular-categories-12.png' %}" alt="Интерьер" class="popular__categories-pic">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Popular categories end -->

        <!-- Popular items start -->

        <div class="popular__items" id="sale">
            <div class="wrapper popular__items_wrapper">
                <div class="popular__items_block">
                    <h3 class="popular__items_name">
                        Популярные товары
                    </h3>
                </div>
                <ul class="popular__items_list">
                    <li class="popular__items_item">
                        <img src="{% static 'img/popular-items-1.png' %}" alt="Керамогранит Yasmin 598х185 коричневый C-YA4M112D" class="popular__items-pic">
                        <div class="popular__items-text">
                            <h6 class="popular__items-title">Керамогранит Yasmin 598х185 коричневый C-YA4M112D</h6>
                            <p class="popular__items-price">899 ₽</p>
                            <div class="popular__items_basket">
                                <button class="popular__items_basket-link basket-click">
                                    <a href="#!" class="popular__basket-link">
                                        В корзину
                                    </a>
                                </button>
                                <div class="basket__quantity" hidden>
                                    <button class="basket__plus">+</button>
                                    <input type="number" class="basket__input" value="1" min="1">
                                    <button class="basket__minus">-</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="popular__items_item">
                        <img src="{% static 'img/popular-items-2.png' %}" alt="Затирка для узких швов Ceresit СЕ 33, цвет белый, 2 кг" class="popular__items-pic">
                        <div class="popular__items-text">
                            <h6 class="popular__items-title">Затирка для узких швов Ceresit СЕ 33, цвет белый, 2 кг</h6>
                            <p class="popular__items-price">275 ₽</p>
                            <div class="popular__items_basket">
                                <button class="popular__items_basket-link basket-click">
                                    <a href="#!" class="popular__basket-link">
                                        В корзину
                                    </a>
                                </button>
                                <div class="basket__quantity" hidden>
                                    <button class="basket__plus">+</button>
                                    <input type="number" class="basket__input" value="1" min="1">
                                    <button class="basket__minus">-</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="popular__items_item">
                        <img src="{% static 'img/popular-items-3.png' %}" alt="Грунтовка Старатели 10л глубокого проникновения" class="popular__items-pic">
                        <div class="popular__items-text">
                            <h6 class="popular__items-title">Грунтовка Старатели 10л глубокого проникновения</h6>
                            <p class="popular__items-price">839 ₽</p>
                            <div class="popular__items_basket">
                                <button class="popular__items_basket-link basket-click">
                                    <a href="#!" class="popular__basket-link">
                                        В корзину
                                    </a>
                                </button>
                                <div class="basket__quantity" hidden>
                                    <button class="basket__plus">+</button>
                                    <input type="number" class="basket__input" value="1" min="1">
                                    <button class="basket__minus">-</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="popular__items_item">
                        <img src="{% static 'img/popular-items-4.png' %}" alt="Гипсокартон Волма, 2500 х 1200 х 12,5 мм" class="popular__items-pic">
                        <div class="popular__items-text">
                            <h6 class="popular__items-title">Гипсокартон Волма, 2500 х 1200 х 12,5 мм</h6>
                            <p class="popular__items-price">335 ₽</p>
                            <div class="popular__items_basket">
                                <button class="popular__items_basket-link basket-click">
                                    <a href="#!" class="popular__basket-link">
                                        В корзину
                                    </a>
                                </button>
                                <div class="basket__quantity" hidden>
                                    <button class="basket__plus">+</button>
                                    <input type="number" class="basket__input" value="1" min="1">
                                    <button class="basket__minus">-</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="popular__items_item">
                        <img src="{% static 'img/popular-items-1.png' %}" alt="Керамогранит Yasmin 598х185 коричневый C-YA4M112D" class="popular__items-pic">
                        <div class="popular__items-text">
                            <h6 class="popular__items-title">Керамогранит Yasmin 598х185 коричневый C-YA4M112D</h6>
                            <p class="popular__items-price">899 ₽</p>
                            <div class="popular__items_basket">
                                <button class="popular__items_basket-link basket-click">
                                    <a href="#!" class="popular__basket-link">
                                        В корзину
                                    </a>
                                </button>
                                <div class="basket__quantity" hidden>
                                    <button class="basket__plus">+</button>
                                    <input type="number" class="basket__input" value="1" min="1">
                                    <button class="basket__minus">-</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="popular__items_item">
                        <img src="{% static 'img/popular-items-2.png' %}" alt="Затирка для узких швов Ceresit СЕ 33, цвет белый, 2 кг" class="popular__items-pic">
                        <div class="popular__items-text">
                            <h6 class="popular__items-title">Затирка для узких швов Ceresit СЕ 33, цвет белый, 2 кг</h6>
                            <p class="popular__items-price">275 ₽</p>
                            <div class="popular__items_basket">
                                <button class="popular__items_basket-link basket-click">
                                    <a href="#!" class="popular__basket-link">
                                        В корзину
                                    </a>
                                </button>
                                <div class="basket__quantity" hidden>
                                    <button class="basket__plus">+</button>
                                    <input type="number" class="basket__input" value="1" min="1">
                                    <button class="basket__minus">-</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="popular__items_item">
                        <img src="{% static 'img/popular-items-3.png' %}" alt="Грунтовка Старатели 10л глубокого проникновения" class="popular__items-pic">
                        <div class="popular__items-text">
                            <h6 class="popular__items-title">Грунтовка Старатели 10л глубокого проникновения</h6>
                            <p class="popular__items-price">839 ₽</p>
                            <div class="popular__items_basket">
                                <button class="popular__items_basket-link basket-click">
                                    <a href="#!" class="popular__basket-link">
                                        В корзину
                                    </a>
                                </button>
                                <div class="basket__quantity" hidden>
                                    <button class="basket__plus">+</button>
                                    <input type="number" class="basket__input" value="1" min="1">
                                    <button class="basket__minus">-</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="popular__items_item">
                        <img src="{% static 'img/popular-items-4.png' %}" alt="Гипсокартон Волма, 2500 х 1200 х 12,5 мм" class="popular__items-pic">
                        <div class="popular__items-text">
                            <h6 class="popular__items-title">Гипсокартон Волма, 2500 х 1200 х 12,5 мм</h6>
                            <p class="popular__items-price">335 ₽</p>
                            <div class="popular__items_basket">
                                <button class="popular__items_basket-link basket-click">
                                    <a href="#!" class="popular__basket-link">
                                        В корзину
                                    </a>
                                </button>
                                <div class="basket__quantity" hidden>
                                    <button class="basket__plus">+</button>
                                    <input type="number" class="basket__input" value="1" min="1">
                                    <button class="basket__minus">-</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="popular__items_item">
                        <img src="{% static 'img/popular-items-1.png' %}" alt="Керамогранит Yasmin 598х185 коричневый C-YA4M112D" class="popular__items-pic">
                        <div class="popular__items-text">
                            <h6 class="popular__items-title">Керамогранит Yasmin 598х185 коричневый C-YA4M112D</h6>
                            <p class="popular__items-price">899 ₽</p>
                            <div class="popular__items_basket">
                                <button class="popular__items_basket-link basket-click">
                                    <a href="#!" class="popular__basket-link">
                                        В корзину
                                    </a>
                                </button>
                                <div class="basket__quantity" hidden>
                                    <button class="basket__plus">+</button>
                                    <input type="number" class="basket__input" value="1" min="1">
                                    <button class="basket__minus">-</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="popular__items_item">
                        <img src="{% static 'img/popular-items-2.png' %}" alt="Затирка для узких швов Ceresit СЕ 33, цвет белый, 2 кг" class="popular__items-pic">
                        <div class="popular__items-text">
                            <h6 class="popular__items-title">Затирка для узких швов Ceresit СЕ 33, цвет белый, 2 кг</h6>
                            <p class="popular__items-price">275 ₽</p>
                            <div class="popular__items_basket">
                                <button class="popular__items_basket-link basket-click">
                                    <a href="#!" class="popular__basket-link">
                                        В корзину
                                    </a>
                                </button>
                                <div class="basket__quantity" hidden>
                                    <button class="basket__plus">+</button>
                                    <input type="number" class="basket__input" value="1" min="1">
                                    <button class="basket__minus">-</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="popular__items_item">
                        <img src="{% static 'img/popular-items-3.png' %}" alt="Грунтовка Старатели 10л глубокого проникновения" class="popular__items-pic">
                        <div class="popular__items-text">
                            <h6 class="popular__items-title">Грунтовка Старатели 10л глубокого проникновения</h6>
                            <p class="popular__items-price">839 ₽</p>
                            <div class="popular__items_basket">
                                <button class="popular__items_basket-link basket-click">
                                    <a href="#!" class="popular__basket-link">
                                        В корзину
                                    </a>
                                </button>
                                <div class="basket__quantity" hidden>
                                    <button class="basket__plus">+</button>
                                    <input type="number" class="basket__input" value="1" min="1">
                                    <button class="basket__minus">-</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="popular__items_item">
                        <img src="{% static 'img/popular-items-4.png' %}" alt="Гипсокартон Волма, 2500 х 1200 х 12,5 мм" class="popular__items-pic">
                        <div class="popular__items-text">
                            <h6 class="popular__items-title">Гипсокартон Волма, 2500 х 1200 х 12,5 мм</h6>
                            <p class="popular__items-price">335 ₽</p>
                            <div class="popular__items_basket">
                                <button class="popular__items_basket-link basket-click">
                                    <a href="#!" class="popular__basket-link">
                                        В корзину
                                    </a>
                                </button>
                                <div class="basket__quantity" hidden>
                                    <button class="basket__plus">+</button>
                                    <input type="number" class="basket__input" value="1" min="1">
                                    <button class="basket__minus">-</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Popular items end -->

        <!-- Popular brands start -->

        <div class="popular__brands">
            <div class="wrapper popular__brands_wrapper">
                <div class="popular__brands_block">
                    <h3 class="popular__brands_name">
                        Популярные бренды
                    </h3>
                    <button class="popular__brands-button">
                        <a href="#!" class="popular__brands-link">
                            Все бренды  <img src="{% static 'img/svg/arrow-icon-right.svg' %}" alt="Все бренды">
                        </a>
                    </button>
                </div>
                <ul class="popular__brands_list">
                    <li class="popular__brands_item">
                        <a href="#!">
                            <img src="{% static 'img/popular-brand-1.png' %}" alt="brand">
                        </a>
                    </li>
                    <li class="popular__brands_item">
                        <a href="#!">
                            <img src="{% static 'img/popular-brand-2.png' %}" alt="brand">
                        </a>
                    </li>
                    <li class="popular__brands_item">
                        <a href="#!">
                            <img src="{% static 'img/popular-brand-3.png' %}" alt="brand">
                        </a>
                    </li>
                    <li class="popular__brands_item">
                        <a href="#!">
                            <img src="{% static 'img/popular-brand-4.png' %}" alt="brand">
                        </a>
                    </li>
                    <li class="popular__brands_item">
                        <a href="#!">
                            <img src="{% static 'img/popular-brand-5.png' %}" alt="brand">
                        </a>
                    </li>
                    <li class="popular__brands_item">
                        <a href="#!">
                            <img src="{% static 'img/popular-brand-6.png' %}" alt="brand">
                        </a>
                    </li>
                    <li class="popular__brands_item">
                        <a href="#!">
                            <img src="{% static 'img/popular-brand-7.png' %}" alt="brand">
                        </a>
                    </li>
                    <li class="popular__brands_item">
                        <a href="#!">
                            <img src="{% static 'img/popular-brand-8.png' %}" alt="brand">
                        </a>
                    </li>
                    <li class="popular__brands_item">
                        <a href="#!">
                            <img src="{% static 'img/popular-brand-9.png' %}" alt="brand">
                        </a>
                    </li>
                    <li class="popular__brands_item">
                        <a href="#!">
                            <img src="{% static 'img/popular-brand-10.png' %}" alt="brand">
                        </a>
                    </li>
                    <li class="popular__brands_item">
                        <a href="#!">
                            <img src="{% static 'img/popular-brand-11.png' %}" alt="brand">
                        </a>
                    </li>
                    <li class="popular__brands_item">
                        <a href="#!">
                            <img src="{% static 'img/popular-brand-12.png' %}" alt="brand">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Popular brands end -->

        <!-- Reviews start -->

        <div class="reviews">
            <div class="wrapper reviews__wrapper">
                <div class="reviews__block">
                    <h3 class="reviews-title">Отзывы</h3>
                    <div class="reviews__buttons">
                        <button class="left-arrow-button">
                            <img src="{% static 'img/svg/main__tab-left-arrow.svg' %}" alt="left arrow" class="left-arrow">
                        </button>
                        <button class="right-arrow-button">
                            <img src="{% static 'img/svg/main__tab-right-arrow.svg' %}" alt="right arrow" class="right-arrow">
                        </button>
                    </div>
                </div>
                <ul class="reviews__list">
                    <li class="reviews__item">
                        <div class="reviews__main">
                            <img src="{% static 'img/avatar-1.png' %}" alt="avatar" class="avatar">
                            <h2 class="reviews__name">Пётр</h2>
                            <img src="{% static 'img/reviews-element.png' %}" alt="element" class="reviews__element">
                        </div>
                        <div>
                            <p class="reviews__desc">Сегодня 10.03.2022 года, брал перфоратор в аренду в магазине по улице Дорожная. Продавец всё хорошо объяснил, показал и плюс остался бонус в ящике перфоратора это бур нужного мне диаметра, оставленным прежним арендатором. В общем повесил телевизор, где надо было просверлить 4 отверстия, всего за 100 ₽</p>
                            <p class="reviews__date">21 марта 2022 г.</p>
                        </div>
                    </li>
                    <li class="reviews__item">
                        <div class="reviews__main">
                            <img src="{% static 'img/avatar-2.png' %}" alt="avatar" class="avatar">
                            <h2 class="reviews__name">Анна</h2>
                            <img src="{% static 'img/reviews-element.png' %}" alt="element" class="reviews__element">
                        </div>
                        <div>
                            <p class="reviews__desc">Живу в п.Володарский МО, очень были рады открытию магазина СтройкаСтор. Хорошие сотрудники, но особенно хочется отметить работу Алексея за его помощь в решении проблем, очень квалифицированные рекомендации по подбору строительных материалов для ремонта. Хороший ассортимент</p>
                            <p class="reviews__date">18 марта 2022 г.</p>
                        </div>
                    </li>
                    <li class="reviews__item">
                        <div class="reviews__main">
                            <img src="{% static 'img/avatar-3.png' %}" alt="avatar" class="avatar">
                            <h2 class="reviews__name">Виктор</h2>
                            <img src="{% static 'img/reviews-element.png' %}" alt="element" class="reviews__element">
                        </div>
                        <div>
                        <p class="reviews__desc">Заказывал в данном магазине строй материалы. Привезли их вовремя и в прекрасном состоянии, претензий к доставке, персоналу и прочему меня нет. Строй материалы мне понравились, ремонт с ними я сделал отличный. Магазин мне безумно понравился, обязательно обращусь сюда снова, большое спасибо</p>
                        <p class="reviews__date">6 ноября 2021 г.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Reviews end -->

        <!-- About company start -->

        <div class="about__company">
            <div class="wrapper about__company_wrapper">
                <h2 class="about__company-title">О компании</h2>
                <p class="about__company-desc">В СтройкаСтор вы всегда можете купить все необходимые товары для ремонта дома и дачи. Хотите сделать ремонт в квартире? Строите загородный дом? Используйте строительные и отделочные материалы из нашего каталога.

                    Быстрая доставка строительных товаров по низким ценам сделает ваши покупки более приятными. Ремонт может стоить дешево, если делать его с нами. Для вас всегда в наличии более 30 000 товаров для строительства по низким ценам каждый день.
                    СтройкаСтор — это широкий ассортимент товаров для дома и ремонта недорого; Возможность заказать строительные и отделочные материалы для дома и дачи.</p>
            </div>
        </div>

        <!-- About company end -->
    </main>
    <!-- Main end -->

    <!-- Footer start -->
    {% include 'footer.html' %}
    <!-- Footer end -->

    <!-- Modal window start -->

    <div class="modal__window" id="modal__window_city">
        <div class="modal__window-content">
            <h3 class="modal__window-title">Выберите ваш город</h3>
            <div class="modal__window-search">
                <input type="text" class="modal__window-input" placeholder="Поиск">
                <img src="{% static 'img/svg/search-icon.svg' %}" alt="search" class="modal__window-search-icon">
            </div>
            <ul class="modal__window-list">
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Москва
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Санкт-Петербург
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Новосибирск
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Екатеринбург
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Казань
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Нижний Новгород
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Челябинск
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Ростов-на-Дону
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Омск
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Самара
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Уфа
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Красноярск
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Воронеж
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Пермь
                    </a>
                </li>
                <li class="modal__window-item">
                    <a href="#!" class="modal__window-link">
                        <img src="{% static 'img/svg/arrow-modal-window.svg' %}" alt="arrow" class="modal__window-arrow"> Волгоград
                    </a>
                </li>
            </ul>
        </div>
        <button class="modal__window-close">
            <img src="{% static 'img/svg/close-icon.svg' %}" alt="close" class="modal__window-close-icon">
        </button>
    </div>

    <!-- Modal window end -->
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>