{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/orders.css' %}">
{% endblock %}

{% block content %}

<div class="main__orders">
    <div class="wrapper main__orders_wrapper">
        <h2 class="main__orders-desc">
            Главная → Заказы
        </h2>
        <h1 class="main__orders-title">Заказы</h1>
    </div>
</div>

<div class="orders">
    <div class="wrapper orders__wrapper">
        {% if products %}
        <ul class="orders__list">
            {% for product in products %}
                {% if product.product.discount is None %}
                    <li class="orders__item">
                        <img src="{{ product.product.photo.url }}" alt="{{ product.product.name }}" class="order__info-img">
                        <div class="order__info_1">
                            <h3 class="order__info-name">{{ product.product.name }}</h3>
                            <p class="order__info-price">{{ product.product.price }} ₽</p>
                            <p class="order__info-quantity">{{ product.quantity }} шт.</p>
                        </div>
                        <div class="order__info_2">
                            <div class="order__info_2-left">
                                <p class="order__info-date">Заказ от {{ product.date}}</p>
                                <p class="order__info-id">ID {{ product.id }}</p>
                            </div>
                            <div class="order__info_2-right">
                                <p class="order__info-status-1">Статус </p>
                                <p class="order__info-status-2">{{ product.status }}</p>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="orders__item">
                        <div class="block-pic">
                            <img src="{{ product.product.photo.url }}" alt="{{ product.product.name }}" class="order__info-img">
                            <p class="stock">
                                {{ product.product.discount }} %
                            </p>
                        </div>
                        <div class="order__info_1">
                            <h3 class="order__info-name">{{ product.product.name }}</h3>
                            <div class="block-price">
                                <p class="order__info-price">{{ product.product.new_price }} ₽</p>
                                <p class="product__old-price">{{ product.product.price }} ₽</p>
                            </div>
                            <p class="order__info-quantity">{{ product.quantity }} шт.</p>
                        </div>
                        <div class="order__info_2">
                            <div class="order__info_2-left">
                                <p class="order__info-date">Заказ от {{ product.date}}</p>
                                <p class="order__info-id">ID {{ product.id }}</p>
                            </div>
                            <div class="order__info_2-right">
                                <p class="order__info-status-1">Статус </p>
                                <p class="order__info-status-2">{{ product.status }}</p>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
            <div class="orders_0">
                <div class="order__info">
                    <h3 class="order__info-title">Заказов нет</h3>
                </div>
                <button class="order__btn">
                    <a href="/" class="order__btn-link">На главную</a>
                </button>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/orders.js' %}"></script>
{% endblock %}