{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/orders.css' %}">
{% endblock %}

{% block content %}

<div class="main__orders">
    <div class="wrapper main__orders_wrapper">
        <h2 class="main__orders-desc">
            Главная → Заказы
        </h2>
        <h1 class="main__orders-title">Заказы</h1>
    </div>
</div>

<div class="orders">
    <div class="wrapper orders__wrapper">
        {% if orders %}
            {% for order in orders %}

            {% endfor %}
        {% else %}
            <div class="orders_0">
                <div class="order__info">
                    <h3 class="order__info-title">Заказов нет</h3>
                </div>
                <button class="order__btn">
                    <a href="/" class="order__btn-link">На главную</a>
                </button>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/orders.js' %}"></script>
{% endblock %}