.basket__main {
    margin-bottom: 40px;
}

.basket__main_wrapper {
    max-width: 1360px;
    margin: 0 auto;
    height: 232px;
    background: url("../img/basket/basket-main.png") no-repeat;
    background-size: 100%;
    padding: 40px 100px;
}

.basket-desc {
    color: rgb(69, 73, 80);
    line-height: 150%;
    margin-bottom: 20px;
}

.basket-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: rgb(23, 27, 36);
}

.basket {
    margin-bottom: 80px;
}

.basket__wrapper {
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
}

.basket__form {
    max-width: 278px;
}

.basket__form_info {
    max-width: 278px;
    max-height: 164px;
    padding: 16px;
    border: 1px solid rgb(246, 246, 246);
}

.basket__form-title {
    color: rgb(23, 27, 36);
    font-size: 18px;
    font-weight: 700;
    line-height: 136%;
    margin-bottom: 12px;
}

.basket__form-count {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 150%;
}

.basket__form-price-all {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 150%;
}

.basket__form-supplier {
    display: flex;
    justify-content: space-between;
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 150%;
}

.basket__form_btn {
    max-width: 100%;
    max-height: 81px;
    padding: 16px;
    border-top: 1px solid rgb(232, 233, 234);
    margin-bottom: 16px;
}

.basket__form-btn {
    width: 246px;
    height: 49px;
    border: none;
    background: rgb(252, 236, 65);
}

.basket__form-btn-text {
    color: rgb(23, 27, 36);
    font-size: 18px;
    font-weight: 400;
    line-height: 136%;
}

.basket__form-btn:hover {
    background: rgb(47, 50, 58);
}

.basket__form-btn:hover .basket__form-btn-text {
    color: white;
}

.basket__form-btn:active .basket__form-btn-text {
    color: rgb(209, 209, 211);
}

.basket__form_advice-first, .basket__form_advice-second, .basket__form_advice-third {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.basket__form_advice-first-text, .basket__form_advice-second-text, .basket__form_advice-third-text {
    max-width: 244px;
    color: rgb(69, 73, 80);
    font-size: 15px;
    font-weight: 400;
    line-height: 145%;
}

.basket__form_advice-first-img {
    max-height: 20px;
}

.basket__products {
    width: 866px;
}

.basket__products-item {
    max-height: 208px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    border: 1px solid rgb(232, 233, 234);
}

.product__block-2, .product__block-1 {
    width: 294px;
    padding: 16px;
}

.product__block-1 {
    border-left: 1px solid rgb(232, 233, 234);
}

.basket__products-img {
    max-width: 278px;
    max-height: 208px;
}

.basket__products-title {
    width: 100%;
    height: 72px;
    color: rgb(47, 50, 58);
    line-height: 150%;
    margin-bottom: 12px;
}

.basket__products-price {
    width: 100%;
    height: 28px;
    margin-bottom: 16px;
    color: rgb(23, 27, 36);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}

.basket__products_quantity {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}

.basket__products_plus,
.basket__products_minus {
    width: 48px;
    height: 48px;
    background: white;
    margin: 0;
    z-index: 1;
    position: relative;
    border: 1px solid rgb(209, 209, 211);
    font-size: 24px;
}

.basket__products_input {
    border: 1px solid rgb(209, 209, 211);
    flex: 1;
    width: 100%;
    height: 48px;
    margin: 0;
    text-align: center;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.basket__products_plus:hover,
.basket__products_minus:hover {
    background: rgb(47, 50, 58);
    color: white;
}

.basket__products_plus:active,
.basket__products_minus:active {
    color: #888888;
}

.basket__products-code {
    width: 100%;
    height: 72px;
    color: rgb(47, 50, 58);
    line-height: 150%;
    margin-bottom: 56px;
}

.basket__products-btn {
    width: 262px;
    height: 49px;
    background: white;
    border: 1px solid rgb(209, 209, 211);
}

.basket__products-btn-text {
    color: rgb(23, 27, 36);
    font-size: 18px;
    font-weight: 400;
    line-height: 136%;
}

.basket__products-btn:hover {
    background: rgb(47, 50, 58);
}

.basket__products-btn:hover .basket__products-btn-text {
    color: white;
}

.basket__products-btn:active .basket__products-btn-text {
    color: rgb(209, 209, 211);
}

/* Modal window error */

.modal__window_error {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal__window_error_wrapper {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 572px;
    height: 250px;
    padding: 36px;
}

.modal__window_error_close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal__window_error_close-button {
    background: none;
    border: none;
}

.modal__window_error_close-icon {
    position: absolute;
    padding: 0;
    top: 20px;
    right: 20px;
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.modal__window_error-title {
    color: rgb(47, 50, 58);
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
    height: 44px;
    margin-bottom: 12px;
}

.modal__window_error-text {
    color: rgb(47, 50, 58);
    font-size: 18px;
    line-height: 136%;
    text-align: center;
    height: 49px;
    margin-bottom: 24px;
}

.modal__window_error-btn {
    background: rgb(252, 236, 65);
    border: none;
    width: 212px;
    height: 49px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.modal__window_error-btn-text {
    color: rgb(23, 27, 36);
    font-size: 18px;
    line-height: 136%;
}

.modal__window_error-btn:hover {
    background-color: rgb(47, 50, 58);
}

.modal__window_error-btn:hover .modal__window_error-btn-text {
    color: white;
}

.modal__window_error-btn:active .modal__window_error-btn-text {
    color: rgb(209, 209, 211);
}

.block__prices {
    display: flex;
    justify-content: left;
}