/* All brands start */
.all__brands__wrapper {
    background: url("../img/brands/all-brands.png") no-repeat;
    margin-bottom: 80px;
    width: 1360px;
    height: 232px;
    position: relative;
}

.all__brands-desc {
    position: absolute;
    top: 40px;
    left: 100px;
    width: 1160px;
    height: 24px;
    color: rgb(69, 73, 80);
    font-size: 16px;
    line-height: 150%;
}

.all__brands-title {
    position: absolute;
    top: 84px;
    left: 100px;
    width: 570px;
    height: 57px;
    color: rgb(23, 27, 36);
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}
/* All brands end */

/* Popular brands start */

.popular__brands {
    margin-bottom: 80px;
}

.popular__brands_wrapper {
    padding: 0px 140px;
}

.popular__brands_block {
    position: relative;
    top: 0;
    left: 0;
    width: 1160px;
    height: 49px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.popular__brands_name {
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
    color: rgb(47, 50, 58);
}

.popular__brands-button {
    border: 1px solid rgb(209, 209, 211);
    background: white;
}

.popular__brands-button:hover {
    background: rgb(47, 50, 58);
}

.popular__brands-button:hover a {
    color: white;
}

.popular__brands-button:hover img {
    filter: brightness(0) invert(1);
}

.popular__brands-button:active a {
    color: rgb(209, 209, 211);
}

.popular__brands-button:active img {
    filter: invert(100%);
}

.popular__brands-link {
    font-size: 18px;
    line-height: 136%;
    color: rgb(23, 27, 36);
    text-decoration: none;
}

.popular__brands_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.popular__brands_item {
    border: 1px solid rgb(232, 233, 234);
}

.popular__brands_item:hover {
    border: 1px solid rgb(93, 96, 102);
}

.popular__brands_item:active {
    border: 1px solid rgb(209, 209, 211);
}

/* Popular brands end */

/* Popular questions start */

.popular__questions {
    margin-bottom: 80px;
}

.popular__questions_wrapper {
    padding: 80px 196px;
    border: 1px solid rgb(209, 209, 211);
}

.popular__questions-title {
    width: 768px;
    height: 44px;
    margin-bottom: 20px;
    color: rgb(47, 50, 58);
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
}

.popular__questions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgb(246, 246, 246);
}

.popular__questions-item {
    padding: 16px 20px;
    border: none;
}

.popular__questions-item-visible {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.popular__questions-item-title {
  font-size: 18px;
  line-height: 136%;
}

.popular__questions-item-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.popular__questions-item-button img {
  width: 20px;
  height: 20px;
}

.popular__questions-item-text {
    color: rgb(47, 50, 58);
    font-size: 16px;
    line-height: 150%;
    width: 687px;
    height: auto;
    margin-left: 16px;
}

.popular__questions-item-unvisible {
  display: none;
}

/* Popular questions end */

/* All brands catalog start */

.all__brands_catalog {
    margin-bottom: 80px;
}

.all__brands_catalog-wrapper {
    max-width: 1160px;
}

.all__brands_catalog-buttons {
    width: 1160px;
    height: 77px;
}

.all__brands_catalog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 8px;
}

.all__brands_catalog-eng {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.all__brands_catalog-rus {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.all__brands_catalog-all {
    width: 60px;
    height: 36px;
    background: rgb(251, 227, 3);
    color: rgb(23, 27, 36);
    font-size: 15px;
    line-height: 145%;
    border: none;
}

.all__brands_catalog-all:hover {
    background: rgb(47, 50, 58);
    color: white;
}

.all__brands_catalog-all:active {
    background: rgb(209, 209, 211);
    color: rgb(47, 50, 58);
}

.all__brands_catalog-eng-letter, .all__brands_catalog-rus-letter {
    border: 1px solid rgb(209, 209, 211);
    background: rgb(255, 255, 255);
    color: rgb(23, 27, 36);
    font-size: 15px;
    line-height: 145%;
    width: 36px;
    height: 36px;
}

.all__brands_catalog-eng-letter:hover, .all__brands_catalog-rus-letter:hover {
    background: rgb(47, 50, 58);
    color: white;
}

.all__brands_catalog-eng-letter:active, .all__brands_catalog-rus-letter:active {
    background: rgb(209, 209, 211);
    color: rgb(47, 50, 58);
}

.all__brands_catalog-table {
    max-width: 1160px;
    margin-top: 28px;
}

.all__brands_catalog-tbody {
    display: flex;
    flex-wrap: wrap;
}

.all__brands_catalog-tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.all__brands_catalog-line {
    position: static;
    width: 1160px;
    height: 1px;
    margin: 28px 0px;
    background: rgb(232, 233, 234);
}

.all__brands_catalog-brands {
    display: grid;
    grid-template-columns: repeat(5, 180px);
    grid-auto-rows: 24px;
    gap: 12px;
    color: rgb(47, 50, 58);
    font-size: 16px;
    line-height: 150%;
}

.all__brands_catalog-letter {
    width: 180px;
    height: 44px;
    color: rgb(51, 51, 51);
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
}

.all__brands_catalog-line:last-child {
    display: none;
}
/* All brands catalog end */