/* Catalog start */

.catalog {
    margin-bottom: 80px;
}

.catalog__wrapper {
    max-width: 1360px;
    height: 232px;
    position: relative;
    background: url("../img/catalog/catalog-main.png") no-repeat;
}

.catalog-text {
    position: absolute;
    top: 40px;
    left: 100px;
}

.catalog-desc {
    color: rgb(69, 73, 80);
    line-height: 150%;
    margin-bottom: 20px;
}

.catalog-title {
    color: rgb(23, 27, 36);
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

/* Catalog end */

/* Companies start */

.catalog__companies {
    margin-bottom: 80px;
}

.catalog__companies-wrapper {
    max-width: 1160px;
}

.catalog__companies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}

.catalog__companies-btn {
    padding: 8px 12px;
    background: white;
    border: 1px solid rgb(209, 209, 211);
}

.catalog__companies-item {
    color: rgb(23, 27, 36);
    font-size: 15px;
    line-height: 145%;
}

.catalog__companies-btn:hover {
    background: rgb(47, 50, 58);
}

.catalog__companies-btn:hover p {
    color: white;
}

.catalog__companies-btn:active p {
    color: rgb(209, 209, 211);
}

/* Companies end */

/* Categories start */

.catalog__categories {
    margin-bottom: 80px;
}

.catalog__categories-wrapper {
    max-width: 1160px;
}

.catalog__categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
}

.catalog__categories-block {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    position: relative;
    background: rgb(246, 246, 246);
}

.catalog__categories-item-title {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 156px;
    color: rgb(47, 50, 58);
    font-size: 18px;
    line-height: 136%;
    text-align: center;
}

.catalog__categories-img {
    position: absolute;
    top: 52px;
}

.sub-categories-item-title {
    color: rgb(47, 50, 58);
    line-height: 150%;
    text-align: left;
    margin-bottom: 12px;
}

.catalog__categories-item {
    width: 278px;
}

/* Categories end */