/* Basket start */

.basket__quantity {
    position: absolute;
    display: flex;
    align-items: center;
    visibility: hidden;
    top: 0;
    left: 0;
}

.basket__plus,
.basket__minus {
    width: 48px;
    height: 48px;
    background: white;
    margin: 0;
    z-index: 1;
    position: relative;
    border: 1px solid rgb(209, 209, 211);
    font-size: 24px;
}

.basket__input {
    border: 1px solid rgb(209, 209, 211);
    flex: 1;
    width: 100%;
    height: 48px;
    margin: 0;
    text-align: center;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.basket__plus:hover,
.basket__minus:hover {
    background: rgb(47, 50, 58);
    color: white;
}

.basket__plus:active,
.basket__minus:active {
    color: #888888;
}

/* Basket end */

/* Main tab start */

.main__tab {
    position: relative;
    padding-left: 80px; 
    margin-bottom: 80px;
}

.main__tab-background {
    background: url(../img/main-tab-1.png) no-repeat;
    width: 1360px;
    height: 420px;
    z-index: 5;
    position: relative;
}

.main__tab_title {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    color: rgb(23, 27, 36);
    max-width: 570px;
    max-height: 115px;
    overflow: hidden;
}

.main__tab_description {
    position: absolute;
    top: 175px;
    left: 100px;
    max-width: 570px;
    height: auto;
    overflow: hidden;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    color: rgb(69, 73, 80);
}

.main__tab_more {
    position: absolute;
    top: 343px;
    left: 124px;
}

#main__tab-details {
    padding: 12px 24px;
    background: rgb(252, 236, 65);
    display: inline-block;
    cursor: pointer;
    border: none;
}

#main__tab-details:hover, #main__tab-details:focus, #main__tab-details:active, #main__tab-details:active {
    background-color: rgb(47, 50, 58);
}

.main__tab-link {
    font-size: 18px;
    color: rgb(23, 27, 36);
    line-height: 136%;
    text-decoration: none;  
}

#main__tab-details:hover .main__tab-link {
  color: white;
}

#main__tab-details:active .main__tab-link {
  color: rgb(209, 209, 211);
}

.main__tab_arrows .main__tab-arrow {
    border: 1px solid rgb(209, 209, 211);
}

.main__tab-arrow {
    position: absolute;
    width: 52px;
    height: 52px;
}

#main__tab-left-arrow {
    top: 342px;
    left: 1158px;
}

#main__tab-right-arrow {
    top: 342px;
    left: 1222px;
}

.main__tab-arrow:hover, .main__tab-arrow:focus, .main__tab-arrow:active, .main__tab-arrow:active {
    border: 1px solid rgb(93, 96, 102);
}

.main__tab-arrow:hover {
    background: rgb(47, 50, 58);
}

.main__tab-arrow:hover a img {
  filter: brightness(0) invert(1);
}

.main__tab-arrow:active a img {
  filter: invert(100%);
}

/* Main tab end */

/* Stocks start */

.stocks {
    margin-bottom: 80px;
}

.stocks__wrapper {
    padding: 0px 140px;
}

.stocks__stocks {
    position: relative;
    top: 0;
    left: 0;
    width: 1180px;
    height: 49px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.stocks__name {
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
    color: rgb(47, 50, 58);
}

.stocks__all-button {
    border: 1px solid rgb(209, 209, 211);
    background: white;
}
.stocks__all-link, .stocks__all-link * {
        user-select: none;
}

.stocks__all-button:hover {
    background: rgb(47, 50, 58);
}

.stocks__all-button:hover a {
    color: white;
}

.stocks__all-button:hover img {
    filter: brightness(0) invert(1);
}

.stocks__all-button:active a {
    color: rgb(209, 209, 211);
}

.stocks__all-button:active img {
    filter: invert(100%);
}

.stocks__all-link {
    font-size: 18px;
    line-height: 136%;
    color: rgb(23, 27, 36);
    text-decoration: none;
}

.stock__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.stock__item {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.stocks__pic_and_stock {
    position: relative;
    width: 278px;
    height: 208px;
}

.stock__pic {
    z-index: 3;
    border: 1px solid rgb(232, 233, 234);
}

.stock {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 4;
    color: rgb(23, 27, 36);
    font-size: 15px;
    line-height: 145%;
    box-sizing: border-box;
    border: 2px solid rgb(251, 227, 3);
    background: rgb(255, 255, 255);
}

.stock__desc {
    position: relative;
    width: 294px;
    height: 209px;
    border: 1px solid rgb(232, 233, 234);
}

.stock__title {
    position: absolute;
    top: 16px;
    left: 16px;
    color: rgb(47, 50, 58);
    font-size: 16px;
    line-height: 150%;
}

.stock__new_price {
    position: absolute;
    top: 100px;
    left: 16px;
    color: rgb(23, 27, 36);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}

.stock__old_price {
    position: absolute;
    top: 116px;
    left: 68px;
}

.stock__old_price::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 36px;
    height: 1px;
    background-color: rgb(47, 50, 58);
    transform: translateY(-50%);
}

.stock__basket {
    position: absolute;
    top: 144px;
    left: 16px;
}

.stock__basket-button {
    background: rgb(252, 236, 65);
    color: rgb(23, 27, 36);
    font-size: 18px;
    line-height: 136%;
    border: none;
    width: 262px;
    height: 49px;
    z-index: 2;
}

.stock__basket-link {
    text-decoration: none;
}

.stock__basket-button:hover {
    background: rgb(47, 50, 58);
}

.stock__basket-button:hover a {
    color: white;
}


.stock__basket-button a:active {
    color: rgb(209, 209, 211);
}


/* Stocks end */

/* Popular categories start */

.popular_categories__wrapper {
    padding: 0px 140px;
    margin-bottom: 80px;
}

.popular__categories_block {
    position: relative;
    top: 0;
    left: 0;
    width: 1180px;
    height: 49px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.popular__categories_name {
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
    color: rgb(47, 50, 58);
}

.popular__categories_all-button {
    border: 1px solid rgb(209, 209, 211);
    background: white;
}

.popular__categories_all-link, .popular__categories_all-link * {
        user-select: none;
}

.popular__categories_all-button:hover {
    background: rgb(47, 50, 58);
}

.popular__categories_all-button:hover a {
    color: white;
}

.popular__categories_all-button:hover img {
    filter: brightness(0) invert(1);
}

.popular__categories_all-button:active a {
    color: rgb(209, 209, 211);
}

.popular__categories_all-button:active img {
    filter: invert(100%);
}

.popular__categories_all-link {
    font-size: 18px;
    line-height: 136%;
    color: rgb(23, 27, 36);
    text-decoration: none;
}

.popular__categories_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr;
    gap: 10px;
}

.popular__categories_item {
    position: relative;
    width: 180px;
    height: 180px;
    list-style: none;
    text-align: center;
    background: rgb(246, 246, 246);
}

.popular__categories_item_name {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 156px;
    height: 25px;
    color: rgb(47, 50, 58);
    font-size: 18px;
    line-height: 136%;
}

.popular__categories_item:hover {
    background-color: yellow;
}

.popular__categories-pic {
    position: absolute;
    top: 52px;
    left: 0px;
    width: 100%;
}

/* Popular categories end */

/* Popular items start */

.popular__items {
    margin-bottom: 80px;
}

.popular__items_wrapper {
    padding: 0px 140px;
}

.popular__items_block {
    position: relative;
    top: 0;
    left: 0;
    width: 1160px;
    height: 64px;
    display: flex;
    margin-bottom: 20px;
}

.popular__items_name {
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
    color: rgb(47, 50, 58);
}

.popular__items_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.popular__items_item {
    position: relative;
    width: 278px;
    height: 417px;
}
.popular__items-pic {
    width: 278px;
    height: 208px;
}

.popular__items-text {
    width: 278px;
    height: 209px;
    padding: 16px 16px 16px 16px;
    border: 1px solid rgb(232, 233, 234);
}

.popular__items-title {
    width: 246px;
    height: 72px;
    color: rgb(47, 50, 58);
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 12px;
}

.popular__items-price {
    width: 246px;
    height: 28px;
    color: rgb(23, 27, 36);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 16px;
}

.popular__items_basket {
    width: 246px;
    height: 49px;
    position: relative;
}

.popular__items_basket-link {
    color: rgb(23, 27, 36);
    font-size: 18px;
    line-height: 136%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(252, 236, 65);
    border: none;
}

.popular__basket-link {
    text-decoration: none;
    color: rgb(47, 50, 58);
    line-height: 150%;
}

.popular__items_basket-link:hover {
    background: rgb(47, 50, 58);
}

.popular__items_basket-link:hover a {
    color: white;
}


.popular__items_basket-link a:active {
    color: rgb(209, 209, 211);
}

/* Popular items end */

/* Popular brands start */

.popular__brands {
    margin-bottom: 80px;
}

.popular__brands_wrapper {
    padding: 0px 140px;
}

.popular__brands_block {
    position: relative;
    top: 0;
    left: 0;
    width: 1160px;
    height: 49px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.popular__brands_name {
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
    color: rgb(47, 50, 58);
}

.popular__brands-button {
    border: 1px solid rgb(209, 209, 211);
    background: white;
}

.popular__brands-link, .popular__brands-link * {
    user-select: none;
}

.popular__brands-button:hover {
    background: rgb(47, 50, 58);
}

.popular__brands-button:hover a {
    color: white;
}

.popular__brands-button:hover img {
    filter: brightness(0) invert(1);
}

.popular__brands-button:active a {
    color: rgb(209, 209, 211);
}

.popular__brands-button:active img {
    filter: invert(100%);
}

.popular__brands-link {
    font-size: 18px;
    line-height: 136%;
    color: rgb(23, 27, 36);
    text-decoration: none;
}

.popular__brands_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.popular__brands_item {
    border: 1px solid rgb(232, 233, 234);
}

.popular__brands_item:hover {
    border: 1px solid rgb(93, 96, 102);
}

.popular__brands_item:active {
    border: 1px solid rgb(209, 209, 211);
}

/* Popular brands end */

/* Reviews start */

.reviews {
    background: rgb(246, 246, 246);
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
}

.reviews__wrapper {
    padding: 80px 140px;
}

.reviews__block {
    position: relative;
    top: 0;
    left: 0;
    width: 1160px;
    height: 52px;
    display: flex;
    justify-content: space-between;
}

.reviews-title {
    color: rgb(47, 50, 58);
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
}

.reviews__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.left-arrow-button, .right-arrow-button {
    border: 1px solid rgb(209, 209, 211);
    width: 52px;
    height: 52px;
    background: white;
}

.left-arrow-button:hover, .left-arrow-button:focus, .left-arrow-button:active, .right-arrow-button:hover, .right-arrow-button:focus, .right-arrow-button:active {
    border: 1px solid rgb(93, 96, 102);
}

.reviews__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.reviews__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.reviews__item {
    position: relative;
    border: 1px solid rgb(232, 233, 234);
}

.reviews__main {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 328px;
    height: 52px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.reviews__list {
    width: 100%;
    height: 330px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.reviews__item {
    background-color: white;
    position: relative;
    border: 1px solid rgb(232, 233, 234);
}

.reviews__main {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 328px;
    height: 52px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.reviews__name {
    color: rgb(47, 50, 58);
    font-size: 18px;
    font-weight: 700;
    line-height: 136%;
    margin-left: 12px;
}

.reviews__element {
    position: absolute;
    top: 0;
    right: 0;   
}

.reviews__desc {
    position: absolute;
    top: 88px;
    left: 24px;
    color: rgb(47, 50, 58);
    font-size: 16px;
    line-height: 150%;
}

.reviews__date {
    position: absolute;
    top: 271px;
    left: 24px;
    color: rgb(139, 141, 146);
    font-size: 15px;
    line-height: 145%;
}

/* Reviews end */

/* About company start */

.about__company {
    margin-bottom: 40px;
}

.about__company_wrapper {
    position: relative;
    padding: 0px 40px;
    background: url(../img/about-company.png) no-repeat;
    width: 1360px;
    height: 456px;
}

.about__company-title {
    position: absolute;
    top: 88px;
    left: 198px;
    width: 670px;
    height: 44px;
    color: rgb(47, 50, 58);
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
}

.about__company-desc {
    position: absolute;
    top: 152px;
    left: 198px;
    width: 670px;
    height: 216px;
    color: rgb(47, 50, 58);
    font-size: 16px;
    line-height: 150%;
}

/* About company end */